services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - database
    env_file:
      - ./backend/.env
    environment:
      - NODE_ENV=development
    networks:
      - wanderlust
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/listings"]
      interval: 10s
      timeout: 5s
      retries: 5

  database:
    build:
      context: ./database
      dockerfile: Dockerfile
    ports:
      - "27017:27017"
    networks:
      - wanderlust
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.runCommand({ping: 1})"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:

networks:
  wanderlust:
    driver: bridge
